/* 主页index.html的样式 */

/* 顶部导航条的容器 */
.topbar-wrapper{
    /* 设置宽度全屏 */
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

/* 设置超链接颜色 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
/* 设置超链接移入效果 */
.topbar a:hover{
    color: white;
}
/* 设置分割线效果 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
    margin-top: -1px;
}

/* 设置左侧导航栏 */
.service,.topbar li{
    float: left;
}

/* 下载app的下拉 */
.app{
    position: relative;
}

/* 设置app下的小三角 */
.app-wrapper:hover .app::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.app .qrcode{
    /* display: none; */
    position: absolute;
    width: 124px;
    /* height: 148px; */
    text-align: center;
    background-color: white;
    line-height: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);

    left: -38px;

    overflow: hidden;
    height: 0;

    transition: height 0.3s;

    z-index: 9999;
}
/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px;

    margin-bottom: 10px;
}
/* 设置二维码文字 */
.app .qrcode span{
    font-size: 14px;
    color: black;
}
/* 下载app移入显示 */
.app-wrapper:hover > .app .qrcode{
    /* display: block;  */
    height: 148px;
}


/* 购物车和用户注册 */
.shop-cart,.user-info{
    float: right;
}
.shop-cart{
    position: relative;
    margin-left: 26px;
    z-index: 999;
}
.goods{
    position: absolute;
    width: 300px;
    /* height: 150px; */
    background-color: white;
    left: -180px;
    box-shadow: 0 4px 4px rgba(0, 0, 0,.3);

    overflow: hidden;
    height: 0;
    transition: height 0.3s;
}
.goods>div{
    color: black;
    padding-top: 50px;

}
.shop-cart:hover .goods{
    height: 150px;
}


/* 设置购物车 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}
/* 购物车图标 */
.shop-cart i{
    margin-right: 2px;
}

/* 购物车移入效果 */
.shop-cart:hover a{
    background-color: white;
    color: #FF6700;
}

/* 设置中间的header */
.header{
    height: 100px;
}
.header .logo{
    float: left;
    margin-top: 22px;
}

.header .logo a{
    display: block;
    width: 55px;
    height: 55px;
    background-color: #FF6700;
    background-image: url(../img/mi-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

.header-wrapper{
    height: 100px;
    position: relative;
}
/* 设置中间的导航条 */
.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}
.header .nav{
    /* width: 850px; */
    height: 100px;
    line-height: 100px;
    padding-left: 58px;
}
.nav> li{
    float: left;
}

/* 设置左侧导航条的样式 */
.all-goods-wrapper{
    position: relative;
}
.left-menu{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 100;
    left: -120px;
    line-height: 1;
}

/* 优先级问题 */
ul.left-menu li a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: #FFF;
    padding: 0 30px;
    margin-right: 0;
}

.left-menu a i{
    float: right;
    line-height: 42px;
}
/* 优先级问题 */
ul.left-menu li a:hover{
    color: #FFF;
    background-color: #FF6700;
}

/* 这里设置的margin-right会影响到上边左侧导航条，
并且此处设置会比上边的优先级更高 ，所以如果需要对
左侧导航条设置另外的样式，需要提高优先级，可通过添
加级数增加优先级*/
.nav-wrapper li a{
    display: block;
    font-size: 16px;
    margin-right: 20px;
}
.nav-wrapper li a:hover{
    color: #FF6700;
}

/* 隐藏全部商品 */
.all-goods{
    visibility: hidden;
}

.nav .goods-info{
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #FFF;

    position: absolute;
    top: 100px;
    left: 0;

    transition: height 0.3s;
    z-index: 9999;
}
/* ~选中所有的兄弟元素 */
.nav .show-goods:hover ~ .goods-info,
.goods-info:hover{
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}

.search-wrapper{
    width: 297px;
    height: 50px;
    float: right;
    margin-top: 25px;
}

.search-wrapper .search-inp{
    float: left;
    padding: 0 10px;
    height: 48px;
    width: 224px;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
}


/* 非常重要！！！设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus{
    outline: none;
    border: 1px solid #FF6700;
}
.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 50px;
    background-color: #FFF;
    color: #616161;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}
.search-wrapper .search-btn:focus{
    outline: none;
    border: 1px solid #FF6700;
    background-color: #FF6700;
    color: #FFF;
}

.banner{
    position: relative;    
    height: 460px;
}
.banner .img-list li{
    position: absolute;

}

/* 设置banner */
.banner img{
    width: 100%;
    vertical-align: top;
}

/* 设置导航点 */
.pointer{
    position: absolute;
    bottom: 22px;
    right: 35px;
}
.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    border: 2px solid rgba(255, 255, 255, .4);
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50%;
    margin-left: 6px;
}

.pointer a:hover,
.pointer a:active{
    border: 2px solid  rgba(0, 0, 0, .4);
    background-color:rgba(255, 255, 255, .4);
}

/* 设置两个箭头 */
.prev-next a{
    width: 41px;
    height: 62px;
    background-image: url("../img/icon-slides.png");
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.prev-next .prev{
    left: 234px;
    background-position: -84px 0;
}
.prev-next .prev:hover{
    background-position: 0 0;
}
.prev-next .next{
    right: 0;
    background-position: -125px 0;
}

.prev-next .next:hover{
    background-position: -42px 0;
}

/* 设置回到顶部的元素 */
.back-top{
    width: 34px;
    height: 194px;
    background-color: #FFF;
    /* 开启固定定位 */
    position: fixed;
    bottom: 60px;
    right: 50%;/*将right值设置为视口宽度的50%*/

    margin-right: -639px;
}
.back-top a img{
    width: 60%;
    padding: 10px 1px 3px 2px;
}

/* 设置下部的广告区域 */
.ad{
    height: 170px;
    margin-top: 14px;
}
.ad .shortcut,
.ad .ad-img,
.ad li{
    float: left;
}
.ad .shortcut{
    width: 234px;
    height: 168px;
    background-color: #5F5750;
    margin-right: 14px;

    padding-top: 2px;
}

.ad .shortcut li{
    position: relative;
}

.ad .shortcut li::before{
    content: '';
    position: absolute;
    width: 64px;
    height: 1px;
    background-color: #665e57;

    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

.ad .shortcut li::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 70px;
    background-color: #665e57;
    top: 0;
}

.ad .shortcut a{
    display: block;
    color: #cfccca;
    height: 84px;
    width: 76px;
    text-align: center;
    font-size: 12px;
    /* 开启BFC */
    overflow: hidden;
}

.ad .shortcut a:hover{
    color: #FFF;
}

.ad .shortcut i{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.ad .ad-img li{
    width: 316px;
    margin-right: 15px;

}

.ad .ad-img li:last-child{
    margin-right: 0;
}
.ad .ad-img img{
    width: 100%;
    vertical-align: top;
}